target/
.classpath
.project
jsfgravatar-core.iml
jsf-gravatar-core.iml
src/main/main.iml
src/test/test.iml
src/main/resources/rebel.xml
jsf-gravatar--core.iml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/Maven__com_google_guava_guava_13_0.xml
.idea/libraries/Maven__com_sun_faces_jsf_api_2_2_5.xml
.idea/libraries/Maven__com_sun_faces_jsf_impl_2_2_5.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_3.xml
.idea/libraries/Maven__javax_javaee_web_api_7_0.xml
.idea/libraries/Maven__junit_junit_3_8_2.xml
.idea/libraries/Maven__org_apache_shale_shale_test_1_0_5.xml
.idea/misc.xml
.idea/modules.xml
.idea/rebel_project.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
